.jodit-container:not(.jodit_inline) {
  background-color: #0f1535 !important;
  border: 1px solid #0f1535 !important;
}

.jodit-toolbar__box:not(:empty):not(:empty) {
  background-color: #0f1535 !important;
  border: 1px solid #0f1535 !important;
  color: white;
}

.jodit-toolbar-editor-collection_size_middle.jodit-toolbar-editor-collection_mode_horizontal,
.jodit-workplace,
.jodit-status-bar {
  background-color: #0f1535 !important;
  border: 1px solid #0f1535 !important;
}

.quill {
  height: 70%;
}
